.App {
  text-align: center;
}

.calc{
  width: 500px;
  margin: 50px auto;
  border: 5px solid white;
  border-radius: 10px;
}

.disp{
  height: 45px;
  width: 476px;
  font-size: 28px;
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  border: 2px solid black;
  border-radius: 0;
}


.btn{
  height: 60px;
  width: 100px;
  border-radius: 0;
  font-size: 20px;
  border: none;
  color: white;
  background-color: black;
}

.btn1{
  height: 60px;
  width: 166.6px;
  border-radius: 0;
  font-size: 20px;
  border: none;
  color: white;
  background-color: black;
}

.btn:hover,.btn1:hover{
  background-color: grey;
}

.head{
  color: aliceblue;
  margin-top: 70px;
  text-align: center;
}


